* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

section {
    margin-top: 130px;
}

/* Banner Section Style */
.banner {
    /* background-image: url(images/banner/banner1.png); */
    background-color: bisque;
    padding: 108px 0px;
}

.banner-info {
    margin: 216px 230px 160px 845px;
    text-align: center;
    width: 525px;



}

main {
    width: 80%;
    margin: 0 auto;
}

.personal-info {
    display: flex;
}

.personal-left {
    margin-left: 130px;
}

.personal-right {
    margin-top: 240px;
    margin-left: 90px;
}

.personal-right .section-title {
    width: 290px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.section-description {
    width: 415px;
    font-size: 16px;
    margin-bottom: 16px;
}

.personal-point p {
    margin-bottom: 8px;
}

.plan .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 86px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 130px;
}

.skill-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.skill-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* Start Mind Set Style */
.mind-set {
    background-image: url(images/gradient2.png);
    background-repeat: no-repeat;
    margin-bottom: 130px;
}

.mind-set-details {
    width: 450px;
    padding-left: 295px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mind-set-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.coll-btn {
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 8px;
}

/* End Mind Set Style */

/* Start Footer Style */
.footer {
    background: #151414;
    padding: 130px 0;
    display: flex;
}


.footer-left {
    width: 485px;
    padding-left: 190px;
}

.left-footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.left-footer-description {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.email {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.phone {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-left a {
    text-decoration: none;
    margin-right: 20px;
}

.footer-right {
    margin-left: 550px;
}

.right-footer-title {
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 30px;
}

input[type="email"] {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    background: #151414;
    padding-left: 21px;
}

.subscribe-btn {
    width: 170px;
    height: 64px;
    font-size: 21px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 16px;
}

/* End Footer Style */